@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --fros-blue-color: #0050d5;
    --light-blue-color: #16c5ff;
    --dark-color: #202020;
    --light-gray: #dedede;
    --dark-gray: #a1a1a0;
    --light-color: #fff;
    --poppins-font: 'Poppins', sans-serif;
    --transition: all 0.3s ease-in-out;
    --box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.2)!important;
}
html{
    font-size: 10px;
}
header{
    background-color: var(--fros-blue-color);
    color: var(--light-color);
}
body{
    font-size: 1.6rem;
    line-height: 1.6;
    font-family: var(--poppins-font);
}
header nav{
   display: flex;
   justify-content: space-around;
   align-items: center;    
}
.search{
    width: auto;
    height: 30px;
    color: var(--light-color);
}
.navigation ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 50px;
}
.Search-control{
    width: auto;
    height: 30px;
    border: none;
    border-radius: 50px;
    text-align: center;
    color: var(--dark-color);
}
.img{
    width: 1500px;
    height: 700px;
}
.carousel {
    position: relative;
    overflow: hidden;
    width: 1500px;
    height: 750px;
    margin: 0 auto;
  }
  
  .carousel-inner {
    display: flex;
  }
  
  .carousel-item {
    flex: 0 0 auto;
  }
  
  .carousel-prev, .carousel-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    color: white;
    font-size: 1.5em;
    cursor: pointer;
  }
  
  .carousel-prev {
    left: 10px;
  }
  
  .carousel-next {
    right: 10px;
  }
 .img1{
    width: 800px;
    padding: 0 40px;
 }

.about{
    display: flex;
    justify-content: center; 
} 
.content{
    width: 700px;
}
.content h1{
    font-size: 30px;
    padding: 20px 0;
} 
.content p{
    font-size: 20px;
    padding: 20px 0;
}
.btn-blue{
    background-color: var(--fros-blue-color);
    color: var(--fros-blue-color);
}
.btn{
    padding: .9rem 4rem;
    border-radius: 3rem;
    display: inline-block;
    background-color: var(--light-color);
    font-weight: 500;
    -webkit-box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.2);
            box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.2);
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
}
a{
    text-decoration: none;
    color: var(--fros-blue-color);
}
.footer{
    background-color: var(--dark-color);
}
.footer-item{
    margin-bottom: 6rem;
}
.footer-item:last-child{
    margin-bottom: 0;
}
.footer-head{
    text-transform: uppercase;
    font-weight: 500;
    font-size: 2.4rem;
    margin-bottom: 4rem;
}
.footer-item .icon{
    width: 120px;
    margin: auto;
}
.footer-item .text{
    padding: 3rem 0;
    max-width: 500px;
    margin-right: auto;
    margin-left: auto;
}
.footer-item address{
    font-size: 1.5rem;
    font-style: normal;
}
.footer-item .tags-list{
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.footer-item .tags-list li{
    margin: .5rem 1rem;
    padding: .5rem 1rem;
    background-color: rgb(58, 58, 58);
    border-radius: .4rem;
}
.footer-item a{
    margin-bottom: 1rem;
    display: inline-block;
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
}
.footer-item a:hover{
    color: var(--dark-gray);
}
.footer-item:last-child .text{
    padding-top: 0;
}
.footer-item .appointment-info li{
    margin: 1rem 0;
}
.footer-item .appointment-info li span{
    margin-left: 1rem;
}
.footer-links{
    border-top: 2px solid var(--dark-gray);
    padding: 4.5rem 0;
}
.footer-links li{
    margin: 0 2.4rem;
    font-size: 2rem;
}
.footer-links li a{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 2px solid var(--light-color);
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
}
.footer-links li a:hover{
    background-color: var(--light-color);
    color: var(--fros-blue-color);
}