<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/media/Style.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <header>
            <nav>
                <div class="logo">
                    <img src="/media/images/logo.png" alt="Revo">
                </div>
                <div class="navigation">
                   <ul>
                    <li>Home</li>
                    <li>About</li>
                    <li>Services</li>
                    <li>Doctors</li>
                    <li>Departments</li>
                    <li>Blog</li>
                    <li>Contact</li>
                   </ul>
                </div>
                <div class="search-bar">
                    <span>
                        <img src="media/images/search-icon-dark.png" alt="" class=" search">
                    </span>
                    <input type="search" name="" id="" placeholder="Search Here" class="Search-control">
                </div>
            </nav>
        </header>
        <div class="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active"><img src="/media/images/iamge1.jpg" alt="" class=" img"></div>
              <div class="carousel-item"><img src="/media/images/image2.avif" alt="" class="img"></div>
              <div class="carousel-item"><img src="/media/images/image3.avif" alt="" class="img"></div>
            </div>
            <button class="carousel-prev">&lt;</button>
            <button class="carousel-next">&gt;</button>
          </div>
          <div class="about">
            <div>
                <img src="/media/images/iamge1.jpg" alt="" class="img1">
            </div>
            <div class="content">
                <h1>Ambulane Booking</h1>
                <p>Facing a medical emergency? Trust our ambulance booking service for swift and reliable assistance. With a team of trained professionals and a fleet of well-equipped vehicles, we ensure prompt transportation to medical facilities. Whether it's a critical situation or routine transfer, we prioritize your safety and comfort. Available 24/7, our service guarantees peace of mind during stressful times. Don't hesitate—call now to secure your ambulance booking and receive the urgent care you need.</p>
                <div class="btn-group">
                    <a href = "./AmbulanceForm" class = "btn btn-blue">Emergency Ambulance</a>
                </div>
            </div>
          </div>
          <script src="/media/ambulace.js"></script>
    </div>
</body>
</html>